<div class="footer-container">

    <footer id="containerfooter" class="footerclass" itemscope itemtype="http://schema.org/WPFooter">
        <div class="container">
            <div class="row">
                 
                          <div class="col-md-4 footercol1">
                          <div class="widget-1 widget-first footer-widget"><aside id="text-3" class="widget widget_text"><h3>Khoa Vật lý &#8211; ĐHKHTN</h3>			<div class="textwidget"><p>Hiện tại Khoa Vật lý có khoảng 60 giảng viên giảng dạy và nghiên cứu khoa học trong các lĩnh vực: vật lý lý thuyết và vật lý toán, vật lý chất rắn, vật lý năng lượng cao, vật lý hạt nhân, vật lý phân tử và quang học lượng tử, vật lý nhiệt độ thấp, vật lý địa cầu, vật lý vô tuyến và kỹ thuật điện tử, vật lý ứng dụng, khoa học vật liệu, vật lý tính toán và tin học ứng dụng.</p>
      </div>
              </aside></div>					</div> 
                                       
                          <div class="col-md-4 footercol2">
                          <div class="widget-1 widget-first footer-widget"><aside id="text-4" class="widget widget_text"><h3>Bản đồ</h3>			<div class="textwidget"><p><iframe loading="lazy" style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14899.228911494833!2d105.803206!3d21.0003631!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135acbf0df2c0e5%3A0xd740a66998e1a0ed!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBLaG9hIGjhu41jIFThu7Egbmhpw6puIChWTlUgVW5pdmVyc2l0eSBvZiBTY2llbmNlKQ!5e0!3m2!1svi!2s!4v1522771381578" frameborder="0" width="100%"></iframe></p>
      </div>
              </aside></div>					</div> 
                                       
                          <div class="col-md-4 footercol3">
                          <div class="widget-1 widget-first footer-widget"><aside id="text-5" class="widget widget_text"><h3>Liên hệ với chúng tôi</h3>			<div class="textwidget"><p>KHOA VẬT LÝ &#8211; TRƯỜNG ĐẠI HỌC KHOA HỌC TỰ NHIÊN<br />
      Địa chỉ: Số 334, Đường Nguyễn Trãi, Quận Thanh Xuân, TP. Hà Nội, Việt Nam<br />
      Email: <a href="mailto:info@vatly.com.vn">info@vatly.com.vn</a> | Tel: 096.584.48.28 Fanpage:<a href="https://www.facebook.com/khoavatlyhus/">http://www.facebook.com/khoavatlyhus</a></p>
      <p>Chính sách bảo mật thông tin cá nhân<br />
      Điều khoản và chính sách</p>
      </div>
              </aside></div>					</div> 
                                          </div>
              <div class="footercredits clearfix">
                  
                              <p>&copy; 2022 Khoa Vật lý - ĐHKHTN - Desgin by <a href="http://tht.com.vn/" target="_blank">THTs</a></p>
              </div>
      
        </div>
      
      </footer>
</div>
